@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@500&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Cabin', sans-serif;
*/

/*
#ec2425 - red
#3a53a3 - blue
#F5EB0E - yellow
*/

/* presets */

*{
box-sizing: border-box;
margin: 0;
font-family: 'Cabin', sans-serif;
}
p {
    font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}
h2 {
    font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.yellow {
	color: #F5EB0E;
}
h3 {
    font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
}
img {
	max-width:100%;
}
a {
	text-decoration: none;
	color: #3a53a3;
}
#about, .card {
	text-align: justify;
}
.justify {
	text-align: justify;
	padding-right: 50px;
}

/* form */

form {
    width: 100%;
}
label {
    font-size: 18px;
}
input {
    width: 100%;
    border-color: black;
    padding: 12px 0 12px 5px;
    margin: 10px 0 10px 0;
    font-size: 18px;
}
textarea {
    width: 100%;
    border-radius: 0;
    padding: 12px 0 12px 5px;
    margin: 10px 0 10px 0;
    border: 2px solid black;
    font-size: 18px;
}
button {
    color: white;
    background-color: black;
    font-size: 18px;
    padding: 12px 12px;
    margin: 10px 0;
    border: 2px solid black;
}

/* nav */

#logo {
	font-size: 25px;
	color: #ec2425;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	}
.header {
	border-bottom: #000 solid 15px;
}
nav {
	font-size: 25px;
	position: absolute;
	top: 60px;
	right:20px;
}
nav ul {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 50px;
}
nav li {
	display:inline-block;

}
nav a {
	text-decoration:none;
	color: #fff;
	display: block;
	padding: 10px;
	margin-right: 15px;
}
nav a:hover {
	color:#F5EB0E;
	transform: scale(1.15, 1.15);
}

/* footer */

footer {
	border-top: #000 solid 15px;
	padding-top: 15px;
	text-align: center;
}
.fa{
	text-decoration: none;
	padding: 5px;
}

/* col structure */

.section, .indexcontainer {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}
.websitescontainer {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}
.websitecircles {
	display: flex;
	flex-wrap: nowrap;
	margin: 0 auto;
	justify-content: center;
}
.contact {
	max-width: 1000px;
	margin: 30px auto;
}
.c20 {
	width:20%;
}
.c33 {
	width:33.333333%;
}
.c50 {
	width:50%;
}
.c100 {
	width:100%;
}